///fonts///
$font-primary: "ProximaNova";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;
$bg-primary:#282B38;
$bg-secondary: #363A4D;

$section-margin-lg: 100px;
$section-margin:  60px;
$text-color: #fff;