<section class="advantages container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="advatage">
                    <div class="advantage__img-box">
                        <img src="assets/img/advantages/advatage-1.svg" alt="icon-advantage">
                    </div>
                    <h4 class="advantage__text-box">Таможенное оформление груза</h4>
                </div>
            </div>
          
        </div>
    </div>
</section>